<ion-view>
      <ion-pane>
          <ion-header-bar class="bar-stable">

            <h1 class="title">Información general</h1>
            <a href="#/home"><button class="button"><i class="icon ion-chevron-left"></i></button></a>
          </ion-header-bar>
          


          <ion-content>
          <div class="list card">
              <a href="#/profile" class="item item-icon-left">
                <i class="icon ion-person"></i>
                Perfil
              </a>

              <a href="#/underwrite" class="item item-icon-left">
                <i class="icon ion-android-cloud-outline"></i>
                Respaldo de documentos
              </a>

              <a href="#/configuration" class="item item-icon-left">
                <i class="icon ion-android-settings"></i>
                Configuración
              </a>

              <a href="#/tips" class="item item-icon-left">
                <i class="icon ion-ios-pricetag-outline"></i>
                Recomendaciones
              </a>

              <a href="#" style="ion-md-customicon"class="item item-icon-left">
                <i class="icon ion-md-customicon"></i>
                Cero Pedos
              </a>

            </div>
          </ion-content>
    </ion-pane>
    <div class="bar bar-footer bar-stable">
     <button class="button icon ion-social-facebook"></button>
     <button class="button icon ion-social-instagram"></button>
     <button class="button icon ion-social-twitter-outline"></button>
     <button class="button icon ion-android-locate"></button>   
    </div>
    
</ion-view>
